@model IEnumerable<Core.Models.Treatment>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumAgeInMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentDoneBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTreatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumAgeInMonths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentDoneBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTreatment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Treatment", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", "Treatment", new { id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", "Treatment", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
