@model Core.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogOrCat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogOrCat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfArrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfArrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfAdoption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfAdoption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDeath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDeath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CastratedOrSterilized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CastratedOrSterilized)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SafeForKids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SafeForKids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonForLeavingOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonForLeavingOwner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adoptable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adoptable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdoptedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdoptedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CageId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
