@model IEnumerable<Core.Models.AdoptionRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @if(item.Animal1 != null)
                {
                    @await Component.InvokeAsync("AnimalNameById", new { animalId = item.Animal1.Value})
                }
            </td>
            <td>
                @if(item.Animal2 != null)
                {
                    @await Component.InvokeAsync("AnimalNameById", new { animalId = item.Animal2.Value})
                }
            </td>
            <td>
                @if(item.Animal3 != null)
                {
                    @await Component.InvokeAsync("AnimalNameById", new { animalId = item.Animal3.Value})
                }
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new {id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
