@model IEnumerable<Core.Models.Animal>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DogOrCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfAdoption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDeath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CastratedOrSterilized)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SafeForKids)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonForLeavingOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adoptable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdoptedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CageId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogOrCat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAdoption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CastratedOrSterilized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafeForKids)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForLeavingOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adoptable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdoptedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CageId)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
